#send{
	font-style:italic;
}
#map-canvas {
	height: 800px;
	border: 3px solid Blue;
}
#text-panel{
	//border: 3px solid black;
	margin-right:30px;
	float:left;
	position:relative;
}

#end-input:focus {
	border-color: #4d90fe;
}		

#end-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300; 
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
}
#route {

}

#pac-input:focus{
	border-color: #4d90fe;
}		

input[class=controls]{
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
}

#matrix, td{
	border:1px solid black;
}

.button{
	display: block;
	margin:0 auto;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
}

#searchx{
	width:300px;
	height:100px;
}